<div id="new-account-page" class="container close">
    <div class='close-button'>
        <div class="link" data-close="new-account-page" data-open="login-page">
            <i class='fa fa-close' aria-hidden='true'></i>
        </div>
    </div>
    <h1>New Account</h1>
    <div class="form-set">
        <div class="form-group">
            <lable class="form-label">User Name</lable>
            <input type="text" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
            <lable class="form-label">Password</lable>
            <input type="password" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
            <lable class="form-label">Password again</lable>
            <input type="password" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
            <lable class="form-label">E-mail</lable>
            <input type="text" class="form-control"/>
        </div>
        <br>
        <button class="btn">Create Account</button>
    </div>
</div>