<div id="forgot-pass-page" class="container close">
    <div class='close-button'>
        <div class="link" data-close="forgot-pass-page" data-open="login-page">
            <i class='fa fa-close' aria-hidden='true'></i>
        </div>
    </div>
    <h1>Forgot password?</h1>
    <br>
    <div class="form-set">
        <div class="form-group">
            <lable class="form-label">E-mail</lable>
            <input type="text" class="form-control"/>
        </div>
        <br>
        <button class="btn">Send link</button>
    </div>
</div>