<link rel="stylesheet" type="text/css" href="css.css">
<div id="login-page" class="container open">
    <h1><marquee>Hey! Good to see you landing on our Product Page</marquee></h1>
    <br>
    <br>
    <div class="form-set">
        <div class="form-group">
            <lable class="form-label">User Name :</lable>
            <input type="text" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
            <lable class="form-label">Password :</lable>
            <input type="password" class="form-control"/>
        </div>
        <br>
        <button class="btn"><a href="product_list.html"> Log in</a></button>
    </div>
    <br>
    <div class="other-links">
        <div>
            <div class="link" data-close="login-page" data-open="new-account-page"><a href="cr_acc.html">Don’t have an Account?</a></div>
        </div>
        <br>
        <div>
            <div class="link" data-close="login-page" data-open="forgot-pass-page"><a href="forgot_pw.html">Forgot your password?</a></div>
        </div>
    </div>
</div>
<br>
